body{
    background-image: url(https://cutewallpaper.org/21/super-paper-mario-backgrounds/Hd-Wallpaper-Wap-Super-Paper-Mario-Mr,-Hd-Wallpapers-.jpg);
    background-attachment: fixed;   
    background-size: cover;
    background-color: blue;



}