@font-face {
    font-family: fonte;
    src: url(fonte/FOT-PopJoyStd-B.otf);
}


body{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/222/671/776/paper-mario-video-games-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-color: #72241a;;
    font-family: 'fonte';
    }
    .Início{
        text-align: end;
        font-size: 90%;
        margin-left: 41%;
        margin-top: 3%;
        color: rgb(224, 224, 224);
        text-shadow: 2px 2px 1px rgb(10, 0, 146);
        
        /*box-sizing: content-box;
        border: 5px auto green;
        border-style: dashed;
        width: 100px;
        right: auto;*/
    }

    .Imagens{
        margin-right: 10%;
        position: absolute;S
        top: 150px;
        right: 55%;


    }
    
    .bosses{
    font-size: 110%;
    color: white;
    text-shadow: 3px 3px 10px rgb(0, 0, 0);


    }

    .btn{
    padding: 10px 10px;
    background: #ffff;
    border: 1px solid #000000;
    border-radius: 10px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    font-size: 20px;
    text-shadow: 3px 6px 3px fuchsia;
    margin: 10px;
    padding: 20px;
    color: #000000;
    display: inline-block;
    }

.btn:hover{
background: gray;

}

li{
    display: inline-block;  
}





a{
    display: inline-block;
    text-decoration: none;
    color: #000000;
}

